<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Homepage.css')}}">

<title>
	TechnoFest 2020
</title>

<head>
	<div class="Links">
		<ul>
			<li><a href="/Home" class="active">Home</a></li>
			<li><a href="/Register">Participation Form</a></li>
			<li><a href="/MemberRegister">Register as a Volunteer</a></li>
			{% if (loggedIn == True) %}
			<li><a href="/account">Account</a></li>
			{% else %}
			<li><a href="/Login">Login For Volunteers</a></li>
			{% endif %}
			<li><a href="/About">About</a></li>
		</ul>
	</div>

</head>

<body>
	<div class="Header">
		<center>
			<hr color="orange" size=3px>
			<hr color="orange" size=3px>
			<h1>TechnoFest 2020</h1>
		</center>
		<hr color="orange" size=3px>
	</div>

	</div>
</body>

</html>